<p
    style="margin: 0cm;font-size: medium;font-family: Calibri, sans-serif;color: rgb(0, 0, 0);font-style: normal;font-weight: 400;text-align: start;text-indent: 0px;text-decoration: none;">
    <span style="font-size:13px;font-family: Arial, sans-serif;color: rgb(153, 102, 51);"><a
            href="https://www.zitate.eu/autor/friedrich-johann-christoph-schiller-zitate/zitate/32714"
            title="https://www.zitate.eu/autor/friedrich-johann-christoph-schiller-zitate/zitate/32714"><em><span
                    style="color: rgb(153, 102, 51);background: white;text-decoration: none;">„Monde und Jahre vergehen
                    und sind auf immer vergangen, aber ein schöner Tag leuchtet das Leben
                    hindurch.“</span></em></a></span>
</p>
<p
    style="margin: 0cm;font-size: medium;font-family: Calibri, sans-serif;color: rgb(0, 0, 0);font-style: normal;font-weight: 400;text-align: start;text-indent: 0px;text-decoration: none;">
    <span style="font-size:13px;font-family: Arial, sans-serif;color: rgb(153, 102, 51);"><a
            href="https://www.zitate.eu/autor/friedrich-johann-christoph-schiller-zitate"
            title="https://www.zitate.eu/autor/friedrich-johann-christoph-schiller-zitate"><strong><span
                    style="font-size:11px;color: rgb(153, 102, 51);background: white;text-decoration: none;">Franz
                    Grillparzer</span></strong></a></span>
</p>