{% set style = 'style=\'margin-top:0cm;margin-right:0cm;margin-bottom:0cm;margin-left:0cm;line-height:normal;font-size:15px;font-family:"Calibri",sans-serif;\'' %}

<p {{ style }}>&nbsp;</p>
<p {{ style }}>&nbsp;</p>
<p {{ style }}>&nbsp;</p>

{% include 'sources/quote.html' %}

<p {{ style }}>&nbsp;</p>
<p {{ style }}>&nbsp;</p>
<p {{ style }}>&nbsp;</p>

<p {{ style }}>Das gesamte SW Team wünscht einen exzellenten Geburtstag und viel Spaß beim Feiern und Genießen!</p>

<p {{ style }}>&nbsp;</p>
<p {{ style }}>&nbsp;</p>
<p {{ style }}>&nbsp;</p>

{% include 'sources/image.html' %}

<p {{ style }}>&nbsp;</p>